<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ToDo アプリ</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>ToDo アプリ</h1>

      <todo-form :submit="saveTodo"></todo-form>

      <ul>
        <todo-li
          v-for="todo in undoneTodos()"
          :todo="todo"
          :toggle="toggleTodo"
          :remove="removeTodo"
          :save="saveTodo"
          :edit="changeEditing"
          :editing="editing"
        ></todo-li>
      </ul>

      <ul>
        <todo-li
          v-for="todo in doneTodos()"
          :todo="todo"
          :toggle="toggleTodo"
          :remove="removeTodo"
          :save="saveTodo"
          :edit="changeEditing"
          :editing="editing"
        ></todo-li>
      </ul>
    </div>

    <script>
      const TODO_STORAGE = "todos";
      const STORAGE = window.localStorage;

      Vue.component("todo-form", {
        template: `
          <form @submit="submitAndClear(text)">
            <p v-show="!text">ToDoを入力してください</p>
            <input type="text" v-model="text" placeholder="enter your text"></input type="text">
            <input type="submit" value="ToDoを追加" />
          </form>
        `,
        data: function () {
          return {
            id: "",
            text: "",
            done: false,
          };
        },
        watch: {
          text: function (text) {
            this.error = text;
          },
        },
        props: ["id", "text", "done", "submit"],
        methods: {
          submitAndClear() {
            if (!this.text) return;

            this.$props.submit({
              id: this.id,
              text: this.text,
              done: this.done,
            });
            this.text = "";
          },
        },
      });

      Vue.component("todo-li", {
        template: `
          <li :key="todo.id">
            <input
              type="checkbox"
              :name="todo.id"
              :id="todo.id"
              :checked="todo.done"
              @change="toggle(todo, $event)"
            />
            <span>{{ todo.text }}<span/>

            <todo-form v-if="editing == todo.id" :submit="save" :id="todo.id" :text="todo.text"></todo-form>

            <span v-else>
              <button type="button" @click="remove(todo)">削除</button>
              <button type="button" @click="edit(todo)">編集</button>
            </span>
          </li>
        `,
        props: ["todo", "toggle", "remove", "save", "edit", "editing"],
      });

      new Vue({
        el: "#app",
        data: {
          todos: [],
          editing: "",
        },
        methods: {
          doneTodos: function (todos) {
            return this.todos.filter(({ done }) => done);
          },
          undoneTodos: function (todos) {
            return this.todos.filter(({ done }) => !done);
          },
          changeEditing: function (todo) {
            this.editing = todo.id;
          },
          toggleTodo: function (todo) {
            todo.done = !todo.done;
          },
          saveTodo: function (todo) {
            if (!todo.text) return;

            if (!todo.id) {
              this.todos.push({ id: uuidv4(), text: todo.text, done: false });
            } else {
              const t = this.todos.find((v) => v.id === todo.id);

              t.text = todo.text;
            }
          },
          removeTodo: function (todo) {
            this.todos.splice(this.todos.indexOf(todo), 1);
          },
        },
        mounted() {
          if (STORAGE.getItem(TODO_STORAGE)) {
            try {
              this.todos = JSON.parse(STORAGE.getItem(TODO_STORAGE));
            } catch (e) {
              STORAGE.removeItem(TODO_STORAGE);
            }
          } else {
            this.todos = [
              { id: 1, text: "hello world", done: false },
              { id: 2, text: "hi this's vinh", done: false },
              { id: 3, text: "lorem ipsum", done: true },
              { id: 4, text: "so you are the one", done: false },
            ];
          }
        },
        watch: {
          todos: {
            handler(todos) {
              const parsed = JSON.stringify(todos);

              STORAGE.setItem(TODO_STORAGE, parsed);
            },
            deep: true,
          },
        },
      });
    </script>
  </body>
</html>
