<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ToDo アプリ</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1>ToDo アプリ</h1>

        <div class="margin">
          <todo-form :submit="saveTodo"></todo-form>
        </div>

        <ul class="margin">
          <todo-li
            v-for="todo in undoneTodos()"
            :todo="todo"
            :toggle="toggleTodo"
            :remove="removeTodo"
            :save="saveTodo"
            :edit="changeEditing"
            :editing="editing"
          ></todo-li>
        </ul>

        <ul class="margin">
          <todo-li
            v-for="todo in doneTodos()"
            :todo="todo"
            :toggle="toggleTodo"
            :remove="removeTodo"
            :save="saveTodo"
            :edit="changeEditing"
            :editing="editing"
          ></todo-li>
        </ul>
      </div>
    </div>

    <script src="./js/index.js"></script>
  </body>
</html>
